{{#if open}}
  <div class="reveal-overlay" style="display:block;">
    <div class="reveal" role="dialog" aria-hidden="false" tabindex="-1" style="display:block;">
        {{yield}}
    </div>
  </div>
{{/if}}
