<span class="fa-layers fa-fw" style="font-size: 1.5rem;">
  {{#if project.has_centroid}}
    {{fa-icon 'map-marker-alt' fixedWidth=true}}
  {{else}}
    {{fa-icon 'map-marker-alt' fixedWidth=true class='medium-gray'}}
    {{fa-icon 'ban' fixedWidth=true class='lu-red' transform='grow-8'}}
  {{/if}}
</span>
