{{!-- <div class="filter">Keywords</div> --}}

{{!-- <div class="filter">BBL</div> --}}

{{yield (hash 
  community-districts=communityDistrictOptions  
  selected-districts=selectedDistricts
  is-in=(action 'isIn'))
}}
