{{#ember-wormhole to="reveal-modal-container"}}
  {{#confirmation-modal open=showPopup}}
    <h3>
      <small class="display-inline-block">Opt out of noticing a public hearing for:</small>
      <span class="display-inline-block">{{project.dcpProjectname}}</span>
    </h3>
    <p>Without proper notice of a public hearing, the {{participant-type-label project.assignments.firstObject.dcpLupteammemberrole}}'s recommendation does not comply with City Charter requirements.
    NYC Planning will still accept a recommendation, but a disapproval will not trigger an automatic City Council call up.</p>
    <p><strong>Are you sure you want to opt out of noticing a public hearing?</strong></p>
    <button
      class="button small"
      data-test-button="onConfirmOptOutHearing"
      type="button"
      onClick={{action "onConfirmOptOutHearing" project.dispositions}}
    >
      Opt Out
    </button>
    <button
      class="button small clear"
      data-test-button="closeOptOutHearingPopup"
      type="button"
      onClick={{action "closeOptOutHearingPopup"}}
    >
      Cancel
    </button>

  {{/confirmation-modal}}
{{/ember-wormhole}}
