{{#ember-popover isShown=showPopup event="none" side="left"}}
  <div class="text-small" style="max-width: 30rem;">
    <p>Without proper notice of a public hearing, the Community Board's recommendation does not comply with City Charter requirements.
    NYC Planning will still accept a recommendation, but a disapproval will not trigger an automatic City Council call up.</p>
    <p><strong>Are you sure you want to opt out of submitting hearings for this project?</strong></p>
    <button
      class="button small"
      data-test-button="onConfirmOptOutHearing"
      type="button"
      onClick={{action "onConfirmOptOutHearing" project.dispositions}}
    >
      Opt out of Hearings
    </button>
    <button
      class="button small clear"
      data-test-button="closeOptOutHearingPopup"
      type="button"
      onClick={{action "closeOptOutHearingPopup"}}
    >
      Cancel
    </button>
  </div>
{{/ember-popover}}
