<h5>
  Thanks for submitting your hearing!
</h5>
<LinkTo
  @route="show-project"
  @model={{this.model.id}}
>
  &lt;&lt;&nbsp;Back to Project Profile
</LinkTo>
<br>
<LinkTo
  @route="my-projects.to-review"
>
  &lt;&lt;&nbsp;Back to "To Review"
</LinkTo>