{{#filter-section
  filterTitle='Borough / Block'
  appliedFilters=appliedFilters
  filterNames=(array 'boroughs' 'block')
  mutateArray=(action mutateArray)
  as |section|
}}
  <ul class="menu vertical medium-horizontal stage-checkbox">
    {{#each (array 'Citywide' 'Manhattan' 'Bronx' 'Brooklyn' 'Queens' 'Staten Island') as |type|}}
      <li {{action section.delegate-mutation (action mutateArray 'boroughs' type)}}>
        <a>
          {{filter-checkbox
            value=type
            currentValues=boroughs
            classPrefix="borough"
          }}
        </a>
      </li>
    {{/each}}
  </ul>
  <input
    class="filter-text-input"
    type="text"
    value={{block}}
    placeholder="Block Number (e.g. '1000')"
    oninput={{action section.delegate-mutation (action setDebouncedText 'block')}}>
{{/filter-section}}
