{{#filter-section
  filterTitle='Project Stage'
  appliedFilters=appliedFilters
  filterNames='dcp_publicstatus'
  mutateArray=(action mutateArray)
  as |section|
}}
  <ul class="menu vertical medium-horizontal stage-checkbox">
    {{#each (array 'Filed' 'In Public Review' 'Complete' 'Unknown') as |type|}}
      <li {{action section.delegate-mutation (action mutateArray 'dcp_publicstatus' type)}}>
        <a>
          {{filter-checkbox
            value=type
            currentValues=queryParam
            classPrefix="publicstatus"
          }}
        </a>
      </li>
    {{/each}}
  </ul>
{{/filter-section}}
