@charset 'UTF-8';

//
// Labs UI variables
// --------------------------------------------------
@import 'labs-ui/variables';

// Style guide variables overrides
$tab-margin: 0;
$tab-background: transparent;
$tab-color: $primary-color;
$tab-background-active: transparent;
$tab-active-color: $primary-color;
$tab-item-font-size: rem-calc(12);
$tab-item-background-hover: $white;
$tab-item-padding: 0.75rem 1.25rem;
$tab-expand-max: 6;
$tab-content-background: transparent;
$tab-content-border: $silver;
$tab-content-color: inherit;
$tab-content-padding: 1rem 0 0;
$fieldset-border: $callout-border;
// $fieldset-padding: rem-calc(20);
// $fieldset-margin: rem-calc(18 0);


//
// Foundation
// --------------------------------------------------
@import 'foundation-sites/foundation';

// Override Foundation's foundation-print-styles mixin
// @import 'foundation-print';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
// @include foundation-card;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;


//
// Labs UI modules (import all or some)
// --------------------------------------------------
@import 'labs-ui/all-modules';


//
// Custom app modules and styles
// --------------------------------------------------
$filed-color: #78D271;
$in-public-review-color: #0979C3;
$completed-color: #a6cee3;

@import 'base/_typography';
@import 'layouts/_l-default';
@import 'modules/_m-actions-milestones';
@import 'modules/_m-auth';
@import 'modules/_m-categorical-colors';
@import 'modules/_m-forms';
@import 'modules/_m-map-info-box';
@import 'modules/_m-maps';
@import 'modules/_m-modal-controls';
@import 'modules/_m-noui';
@import 'modules/_m-project-filters';
@import 'modules/_m-reveal-modal';
@import 'modules/_m-search';
@import 'modules/_m-site-header';
@import 'modules/_m-tabs';
@import 'modules/_m-project-summary-cards';
@import 'modules/_m-tooltipster';

@import "ember-power-select";

@import "ember-content-placeholders";
