// --------------------------------------------------
// Default Layout
// --------------------------------------------------

body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

  html, & {
    @include breakpoint(large) {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}

.relative {
  position: relative;
}

.site-header {
  position: relative;
  z-index: 2;
}

.site-main {
  position: relative;
  z-index: 1;
  height: calc(100vh - 5rem);
  background-color: $body-background;

  @include breakpoint(medium) {
    height: calc(100vh - 6rem);
  }

  @include breakpoint(large) {
    overflow: hidden;

    > .cell {
      @include xy-cell-block($vertical:true);
      overflow-x: hidden;
    }

  }
}

#project-map, #show-project-map {
  height: 300px;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
  }

  @include breakpoint(large) {
    height: calc(45vh - 3rem);
    margin: 0;

    &::after {
      content: '';
      box-shadow: inset 0 -1px 0 2px rgba(0,0,0,0.1);
    }
  }
}

.project-filters {
  margin-bottom: $global-margin;

  @include breakpoint(large) {
    height: calc(55vh - 3rem);
    overflow: auto;
    margin-bottom: 0;
  }
}

.results {
  padding-top: $global-margin;
  padding-bottom: $global-margin;

  .results-header {
    font-size: rem-calc(16);

    @include breakpoint(large) {
      position: fixed;
      z-index: 2;
      top: 6rem;
      right: rem-calc(15);
      bottom: auto;
      left: auto;
      width: calc(50% - #{rem-calc(30)});
      background-color: $body-background;
      padding: $global-margin*0.75 rem-calc(5);
      box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    }

    @include breakpoint(xlarge) {
      width: calc(41.66667% - #{rem-calc(30)});
    }

    @include breakpoint(xxlarge) {
      width: calc(50% - #{rem-calc(30)});
      font-size: rem-calc(20);
    }

    .results-header-meta {
      font-weight: normal;
      font-size: $small-font-size;
      padding: rem-calc(6) 0 0 rem-calc(10);
    }
  }
  .results-list {
    @include breakpoint(large) {
      padding-top: 3rem;
    }

    .publicstatus-label {
      display: block;
      font-size: rem-calc(10);
      text-align: center;
      white-space: normal;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      padding: 0.375rem;
      font-weight: bold;
    }

    .map-marker-button {
      margin-bottom: 0;
      padding: 0.6em;

      &, &:hover {
        border-color: darken($light-gray, 10%);
        border-bottom-width: 0;
      }
    }
  }
}

.project-meta {
  margin: $global-margin 0;
}

.ember-content-placeholders-img {
  min-height: 350px;
}

// .search-container {
//   position: relative;
//   z-index: 3;
//   width: 100%;
//   height: 5.25rem;
//   overflow: visible;
//   box-shadow: 0 2px 0 rgba(0,0,0,0.1);
//
//   @include breakpoint(medium) {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 15rem;
//     box-shadow: 0 2px 0 rgba(0,0,0,0.1), -4px 0 0 rgba(0,0,0,0.1);
//   }
//
//   @include breakpoint(large) {
//     position: fixed;
//     top: 6rem;
//     right: auto;
//     left: 0;
//     box-shadow: 0 2px 0 rgba(0,0,0,0.1), 2px 0 0 rgba(0,0,0,0.1);
//   }
//
//   @include breakpoint(xlarge) {
//     width: 18rem;
//   }
// }

// .map-container {
//   @include xy-cell-static(full,false,0);
//
//   position: relative;
//   z-index: 1;
//   height: 50vh;
//   background-color: $medium-gray;
//
//   @include breakpoint(large) {
//     height: 100%;
//   }
// }

// .layer-menu {
//   background-color: $light-gray;
//   z-index: 2;
//   // min-height: calc(50vh - 8rem);
//
//   @include breakpoint(medium) {
//     min-height: none;
//     max-height: 50vh;
//     height: calc(50vh - 5.25rem);
//     width: 15rem;
//     box-shadow: -4px 0 0 rgba(0,0,0,0.1);
//     overflow: scroll;
//     margin-top: 5.25rem;
//   }
//
//   @include breakpoint(large) {
//     height: calc(100% - 5.25rem);
//     box-shadow: 2px 0 0 rgba(0,0,0,0.1);
//     // padding-bottom: 6.25rem;
//   }
//
//   @include breakpoint(xlarge) {
//     width: 18rem;
//   }
// }

// .route-index {
//
//   @include breakpoint(small only) {
//     .map-container {
//       height: calc(100vh - 14.25rem);
//     }
//
//     .layer-menu {
//       min-height: 6rem;
//     }
//   }
//
//   @include breakpoint(medium only) {
//     .map-container {
//       height: 100%;
//       max-height: none;
//     }
//
//     .layer-menu {
//       height: calc(100% - 5.25rem);
//       max-height: none;
//     }
//   }
// }

// .content-close-button-container {
//   position: relative;
//   z-index: 4;
//   box-shadow: 0 -2px 0 rgba(0,0,0,0.1);
//   background-color: $body-background;
//   text-align: right;
//   padding: $global-margin $global-margin 0;
//
//   @include breakpoint(small only) {
//     margin-bottom: -$global-margin;
//   }
//
//   @include breakpoint(medium down) {
//     @include xy-cell-static(full,false,0);
//   }
//
//   @include breakpoint(large) {
//     padding: 0;
//   }
// }
// .content-close-button {
//   color: $dark-gray;
//   font-size: rem-calc(32);
//   line-height: 1;
//   position: relative;
//   margin: 0;
//   width: 1em;
//
//   &:hover {
//     color: $lu-red;
//   }
//
//   @include breakpoint(large) {
//     display: block;
//     position: fixed;
//     z-index: 3;
//     top: 6.5rem;
//     right: 41.66667%;
//     background-color: $body-background;
//     margin-right: -4px;
//     padding: 0 rem-calc(6) rem-calc(3);
//     box-shadow: -4px 4px 0 rgba(0,0,0,0.1);
//   }
//   @include breakpoint(xxlarge) {
//     right: 33.33333%;
//   }
// }

// .content-area {
//   z-index: 3;
//   background-color: $body-background;
//   min-height: calc(50vh - 6rem);
//   padding: $global-margin;
//
//   @include breakpoint(large) {
//     height: 100%;
//     box-shadow: -4px 0 0 rgba(0,0,0,0.1);
//   }
// }

.grid-padding-small {
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  > .cell {
    padding: 0.5rem;
  }
}
