.advisory-message {
  background-color: #D96B27;
  padding: 0.25rem 1rem;
  border: 1px solid rgba(217, 107, 39, 0.25);
  border-radius: 0;
  position: relative;
  text-align: center;

   p {
    margin: 0;
    color: #FFFFFF;
  }
}