// --------------------------------------------------
// Module: Modal Controls
// --------------------------------------------------

.modal-controls {
  position: relative;
  overflow: visible;
  display: inline-block;
}

.modal-button.button {
  padding: 0.4rem 0.6rem;
  outline: 0;
}

.modal-controls-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 23rem;
  z-index: 99;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 13em);
  padding: rem-calc(10);
  background-color: $white;
  border-radius: 4px;
  overflow: scroll;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);

  @include breakpoint(medium) {
    max-width: 50vw;
  }

  &,
  .input-group-field,
  .input-group-button button {
    font-size: rem-calc(12);
  }

  .header {
    margin-bottom: rem-calc(10);
    padding-right: 2rem;
  }

  .close-button {
    right: 0.75rem;
    top: 0.25rem;
    outline: 0;
  }
}

.share-controls-copy-success {
  position: relative;
  height: 0;
  overflow: visible;
  margin: -$global-margin $global-margin $global-margin;
}

.share-controls-copy-success-message {
  background-color: $success-color;
  color: $white;
  padding: rem-calc(6) rem-calc(10);
  text-align: center;
  font-style: italic;
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  opacity: 0;
  animation: successfade 2s;
  transform: translateY(-50%);
  display: inline-block;
}

@keyframes successfade {
    0%   {opacity:0;}
    10%  {opacity:1;}
    75%  {opacity:1;}
    100% {opacity:0;}
}

@keyframes flagfade {
    0%   {opacity:0;}
    10%  {opacity:1;}
    100% {opacity:1;}
}

// Feedback Controls
.flag-success {
  color: #78d270;
  padding-left: 13px;
  opacity: 0;
  animation: flagfade 2s;

  .text {
    position: relative;
    top: -7px;
    padding-left: 8px;
  }
}

// maintenance notice
.maintenance-wrapper {
  background-color: #E5E5E5;

  p {
    padding: 3px 5px 0 5px;
  }
}
