// --------------------------------------------------
// Module: Statuses
// --------------------------------------------------

.status-options {
  counter-reset: statusoption;
  list-style: none;
  padding-left: 40px;
}

.status-options .numbered-option {
  counter-increment: statusoption;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.status-options li::before {
  content: counter(statusoption);
  font-weight: bold;
  position: absolute;
  --size: 2rem;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: #FBF0E9;
  border-radius: 50%;
  text-align: center;
}

.numbered-option h4 {
  margin-bottom: 0.25rem;
}

.status-updates {
  font-size: 1.5rem;
}
