// --------------------------------------------------
// Module: Subscription Form 
// --------------------------------------------------

div.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.accordion-item {
    background-color: $white-smoke;
    border-radius: 12px;
}

.accordion-title {
    border: none;
    font-size: medium;
    color: $dark-gray;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: transparent;
}

ul li.accordion-title:last-child {
    border-bottom: 5px;
}

.accordion-content {
    border: none;
}

input[type=checkbox] {
    accent-color: $dcp-orange;
    width: 20px;
    height: 20px;
}

.subscribe-input-group {
    display: flex;
    white-space: nowrap;
    overflow: hidden;

    label {
        padding-right: 12px;
        align-content: center;
    }

    Input {
        border-radius: 12px;
    }
}

.subscribe-section {
    padding-bottom: 64px;

}

.district-slection {
    ul {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 24px
    }

    li:last-child:not(.is-active)>.accordion-title {
        border-bottom: none;
    }

    li:last-child>.accordion-content:last-child {
        border-bottom: none;
    }
}

.button.primary {
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.update-type-section {
    display: flex;
    flex-direction: column;
    ul {
        margin-bottom: 0px;
        margin-left: 0px;
        list-style-type: none;
    }
    .update-type-question {
        padding-bottom: 24px;
        padding-left: 0px
    }
}

.update-type-item {
    display: flex;
    flex-direction: row;
}

.update-type-label {
    // display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.accordion {
    background: $off-white;
}