// --------------------------------------------------
// Module: Subscription Form 
// --------------------------------------------------

div.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.accordionmenu-item-background {
    background-color: $white-smoke;
}

.accordion-title {
    border: none;
}

ul li.accordion-title:last-child {
    border-bottom: 5px;
}

.accordion-content {
    border: none;
    
}

input[type=checkbox] {
    accent-color: $dcp-orange;
    width: 20px;
    height: 20px;
  }

ul li {
    margin-bottom: 1.5rem;
}

li:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
}

li:last-child > .accordion-content:last-child {
    border-bottom: none;
}

.accordion {
    background: $off-white;
}
