// --------------------------------------------------
// Module: Subscribers Confirmation Page
// --------------------------------------------------

.padding-top-4 {
  padding-top: 4rem !important;
}
.subscribers-confirm {
  p {
    font-weight: 500;
    &.lg {
      font-size: 27px;
    }
    &.md {
      font-size: 21px;
    }
  }
  li {
    font-weight: 500;
    font-size: 16px;
  }
  button {
    text-decoration: none;
    color:#F1F2F4;
    font-size: 1.25rem;
    background:#AE551D;
    border-radius: 1rem;
    padding: 20px;
  }
}
