// --------------------------------------------------
// Module: Subscribed Page
// --------------------------------------------------

.subscribed {
  span {
    color:#008e50;
  }
  .lg {
    font-size: 1.25rem;
  }
  .button {
    font-size: 1.25rem;
    border-radius: 12px;
  }
}
