// This is a merge of styles implicit in the older tooltipster library repurposed for use
// in ember tooltip

.tooltipster-box {
  /* see .tooltipster-base. flex-shrink 1 is only necessary for IE10-
  and flex-basis auto for IE11- (at least) */
  flex: 1 1 auto;
}

.tooltipster-content {
  /* prevents an overflow if the user adds padding to the div */
  box-sizing: border-box;
  /* these make sure we'll be able to detect any overflow */
  max-height: 100%;
  max-width: 300px;
  overflow: auto;
  line-height: 18px;
  font-size: .625rem;
  a {
		color: $secondary-color;
	}
}

.ember-tooltip-popover {
  background-color: #3a3c47;
  color: #fff;
}
.ember-tooltip-popover[x-placement^="top"] .ember-tooltip-arrow {
  border-top-color: #3a3c47;
}
.ember-tooltip-popover[x-placement^="right"] .ember-tooltip-arrow { 
  border-right-color: #3a3c47; 
}
.ember-tooltip-popover[x-placement^="bottom"] .ember-tooltip-arrow { 
  border-bottom-color: #3a3c47;
}
.ember-tooltip-popover[x-placement^="left"] .ember-tooltip-arrow { 
  border-left-color: #3a3c47; 
}
