// --------------------------------------------------
// Module: ZAP Alerts Contact Footer
// --------------------------------------------------

.zap-alerts-contact {
    background-color: #f1f2f4;
    padding: 24px;
    h5 {
        font-size: 1.25rem;
        margin: 0 0 .75rem 0;
    }

    p {
        margin-bottom: .75rem;
    }
}
