{{#with this.model as |project|}}
  <LinkTo
    @route="my-projects.to-review"
  >
    &lt;&nbsp;Back&nbsp;to&nbsp;"To&nbsp;Review"
  </LinkTo>
  <br>
  <LinkTo
    @route="show-project"
    @model={{project}}
  >
    &lt;&nbsp;Back&nbsp;to&nbsp;Project
  </LinkTo>
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-middle message-grid">
        <div class="cell large-6 large-offset-3 text-center">
          <h2>Thank you</h2>
          <p>Your recommendation was submitted.</p>
        </div>
      </div>
    </div>
  </div>
{{/with}}