// --------------------------------------------------
// Module: Accordion Menu
// --------------------------------------------------

.accordion-menu {
  border-bottom: 1px solid darken($light-gray, 20%);

  &:hover {
    background-color: rgba(107,113,123,.06);
  }
}

.accordion-title {
  font-weight: $global-weight-bold;
  padding: rem-calc(6);
  padding-right: 1em;
  position: relative;

  &:hover {
    background-color: rgba(107,113,123,.06);
    cursor: pointer;
  }

  &::after {
    @include css-triangle(0.4em, $primary-color, up);

    position: absolute;
    top: 50%;
    margin-top: -0.2em;
    right: rem-calc(6);
  }
  &.closed::after {
    transform: rotate(180deg);
  }
}
