// --------------------------------------------------
// Module: Milestones
// --------------------------------------------------

.actions-list,
.milestones-list {
}

.action {

}

.milestone {
  position: relative;
  box-shadow: inset rem-calc(28) 0 0 $body-background, inset rem-calc(30) 0 0 $medium-gray;

  &.past {}

  &.present {
    background-color: $white;
    box-shadow: 0 0 0 rem-calc(6) transparentize($lu-green, 0.8), inset 0 0 0 2px $medium-gray;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    z-index: 2;
  }

  &.future {}

  .milestone-dates {
    font-size: rem-calc(13);
    margin-bottom: rem-calc(12);
  }

  .milestone-hearings,
  .milestone-vote {
    font-size: rem-calc(13);
    margin-bottom: rem-calc(6);
  }

  .sub-milestone--location {
    line-height: 1.3;
  }
  .sub-milestone--datetime {
    display: inline-block;
    font-size: rem-calc(12);
    margin-bottom: rem-calc(6);
  }

  .milestone-offset {
    color: $dark-gray;
    font-size: rem-calc(10);
  }

  .milestone-links {
    font-size: rem-calc(13);
    list-style: none;
    margin-left: 0;

    li {
      display: inline;
      color: $dark-gray;

      &::after {
        content: ",";
      }
      &:last-child::after {
        content: "";
      }

      a { font-weight: bold; }
    }
  }
}

.milestone.present + .milestone.future {
  padding-top: 0.5rem;
}

.milestone.past + .milestone.future:not(.no-dates) {
  padding-top: 2.5rem;

  &::before {
    content: '';
    border-top: rem-calc(4) dashed $lu-green;
    display: block;
    width: 100%;
    height: 0.5rem;
    position: absolute;
    top: rem-calc(8);
    left: 0;
  }

  &::after {
    content: "NOW";
    display: block;
    position: absolute;
    top: 0;
    left: 0.5rem;
    background-color: $lu-green;
    color: $white;
    padding: 0;
    line-height: 2;
    width: rem-calc(41);
    text-align: center;
    font-size: rem-calc(10);
    border-radius: 0.5rem;
  }
}

.milestone-icon,
.action-icon {
  font-size: 2rem;
}
