// --------------------------------------------------
// Module: Categorical Colors
// --------------------------------------------------

.label {
  .publicstatus-filed & {
    background: lighten($filed-color, 15%);
    color: color-pick-contrast(lighten($filed-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-in-public-review & {
    background: lighten($in-public-review-color, 15%);
    color: color-pick-contrast(lighten($in-public-review-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-completed & {
   background: lighten($completed-color, 15%);
   color: color-pick-contrast(lighten($completed-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-unknown & {
   background: lighten($dark-gray, 15%);
   color: color-pick-contrast(lighten($dark-gray, 15%), ($label-color, $label-color-alt));
  }
}

.fa-map-marker-alt {
  .publicstatus-filed & {
    color: $filed-color;
  }
  .publicstatus-in-public-review & {
    color: $in-public-review-color;
  }
  .publicstatus-completed & {
   color: $completed-color;
  }
  .publicstatus-unknown & {
   color: $dark-gray;
  }

  .publicstatus-filed .button:hover &,
  .publicstatus-in-public-review .button:hover &,
  .publicstatus-completed .button:hover &,
  .publicstatus-unknown .button:hover & {
    color: $primary-color;
  }
}

.statuscode {
  text-align: center;

  .fa-circle {
    color: $dark-gray;
  }

  &.withdrawn,
  &.mistake,
  &.terminated {
    .fa-circle,
    .status {
      color: $lu-red;
    }
  }
  &.approved {
    .fa-circle,
    .status {
      color: $lu-green;
    }
  }
  // &.certified {}
  // &.referred {}
  // &.active { }
}
