// --------------------------------------------------
// Module: Categorical Colors
// --------------------------------------------------

.label {
  .publicstatus-filed & {
    background: lighten($filed-color, 15%);
    color: color-pick-contrast(lighten($filed-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-in-public-review & {
    background: lighten($in-public-review-color, 15%);
    color: color-pick-contrast(lighten($in-public-review-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-complete & {
   background: lighten($complete-color, 15%);
   color: color-pick-contrast(lighten($complete-color, 15%), ($label-color, $label-color-alt));
  }
  .publicstatus-unknown & {
   background: lighten($dark-gray, 15%);
   color: color-pick-contrast(lighten($dark-gray, 15%), ($label-color, $label-color-alt));
  }
}

.fa-map-marker-alt {
  .publicstatus-filed & {
    color: $filed-color;
  }
  .publicstatus-in-public-review & {
    color: $in-public-review-color;
  }
  .publicstatus-complete & {
   color: $complete-color;
  }
  .publicstatus-unknown & {
   color: $dark-gray;
  }

  .publicstatus-filed .button:hover &,
  .publicstatus-in-public-review .button:hover &,
  .publicstatus-complete .button:hover &,
  .publicstatus-unknown .button:hover & {
    color: $primary-color;
  }
}

.circle.publicstatus-filed {
  color: $filed-color;
}
.circle.publicstatus-in-public-review {
  color: $in-public-review-color;
}
.circle.publicstatus-complete {
  color: $complete-color;
}
.circle.publicstatus-unknown {
 color: $dark-gray;
}

// Boroughs

$manhattan: #66c2a5;
$bronx: #fc8d62;
$brooklyn: #8da0cb;
$queens: #e78ac3;
$statenisland: #a6d854;
$citywide: #ffd92f;

.label {
  &.borough-manhattan {
    background: $manhattan;
  }

  &.borough-bronx {
    background: $bronx;
  }

  &.borough-brooklyn {
    background: $brooklyn;
  }

  &.borough-queens {
    background: $queens;
  }

  &.borough-staten-island {
    background: $statenisland;
    color: $dark-gray;
  }

  &.borough-citywide {
    background: $citywide;
    color: $dark-gray;
  }
}

.circle {
  &.borough-manhattan {
    color: $manhattan;
  }

  &.borough-bronx {
    color: $bronx;
  }

  &.borough-brooklyn {
    color: $brooklyn;
  }

  &.borough-queens {
    color: $queens;
  }

  &.borough-staten-island {
    color: $statenisland;
  }

  &.borough-citywide {
    color: $citywide;
  }
}
