// --------------------------------------------------
// Module: Categorical Colors
// --------------------------------------------------

.label {
  .publicstatus-filed & {
    background: $filed-color;
    color: $black;
  }
  .publicstatus-in-public-review & {
    background: $in-public-review-color;
    color: $white;
  }
  .publicstatus-completed & {
   background: $completed-color;
   color: $black;
  }
  .publicstatus-unknown & {
   background: $light-gray;
   color: $black;
  }
}

.fa-map-marker-alt {
  .publicstatus-filed & {
    color: $filed-color;
  }
  .publicstatus-in-public-review & {
    color: $in-public-review-color;
  }
  .publicstatus-completed & {
    color: $completed-color;
  }
  .publicstatus-unknown & {
    color: $dark-gray;
  }

  .publicstatus-filed .button:hover &,
  .publicstatus-in-public-review .button:hover &,
  .publicstatus-completed .button:hover &,
  .publicstatus-unknown .button:hover & {
    color: $primary-color;
  }
}

.statuscode {
  text-align: center;

  .fa-circle {
    color: $dark-gray;
  }

  &.withdrawn,
  &.mistake,
  &.terminated {
    .fa-circle,
    .status {
      color: $red-muted;
    }
  }
  &.approved {
    .fa-circle,
    .status {
      color: $green-muted;
    }
  }
}
