// --------------------------------------------------
// Module: Forms
// --------------------------------------------------

//
// GeoSearch in forms
// --------------------------------------------------
.inline-geosearch .labs-geosearch {
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: $global-margin;

  input {
    font-size: $input-font-size;
    height: auto;
  }

  .is-invalid-label & {
    input {
      @include form-input-error();
    }
    .search-icon {
      color: $form-label-color-invalid;
    }
  }
}

//
// Ember Power Select
// --------------------------------------------------
.site-main .ember-power-select-trigger {
  margin-bottom: $global-margin;
  line-height: $input-line-height;
  border-radius: 0;
  border: $input-border;

  .ember-power-select-placeholder {
    margin: 0;
    padding: $input-padding;
  }

  .ember-power-select-status-icon {
    right: 1rem;
  }
}
.is-invalid-label .ember-power-select-trigger {
  @include form-input-error();

  .ember-power-select-placeholder {
    color: $form-label-color-invalid;
  }

  .ember-power-select-status-icon {
    border-top-color: $form-label-color-invalid;
  }
}
