// --------------------------------------------------
// Module: Project summary card
// --------------------------------------------------

.project-summary-card {
  font-size: rem-calc(13);

  .column-header {
    font-size: inherit;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: $hr-border;
  }

  .applicant {
    margin-bottom: rem-calc(10);
  }
}

// LUP countdown
.lup-countdown {
  text-align: center;

  .cert-date {
    font-size: rem-calc(10);
  }

  .days {
    font-size: rem-calc(40);
    font-weight: $global-weight-bold;
    line-height: 1;
    margin: 0;
  }

  .total {
    font-weight: $global-weight-bold;
  }

  .end-date {
    font-size: rem-calc(10);
  }
}

// Hearing Info
.hearing-info {
  text-align: center;

  .location {
    font-size: rem-calc(12);
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .date {
    font-size: rem-calc(12);
    padding-top: 5px;
  }

  .time {
    font-size: rem-calc(12);
  }
}

// LUP timeline
.lup-timeline {
  font-size: rem-calc(13);
}

.current-milestone-alert {
  background: $off-white;
  padding: rem-calc(6) rem-calc(10);
  margin: 0;
  border: $hr-border;
}

.notifications-switch {
  font-size: rem-calc(6);
  padding: rem-calc(6) 0;

  .switch {
    float: left;
    margin-right: rem-calc(6);
  }
}
