// --------------------------------------------------
// Module: Project Hearing Forms
// --------------------------------------------------

.hearing-submit {
    position: relative;
    padding-top: 20px;
  }

.additional-location-info {
    position: relative;
    padding-top: 20px;
  }

.fix-hearing-info {
    color: #ff0000;
    font-size: 15px;
  }
