// --------------------------------------------------
// Module: Project Filters
// --------------------------------------------------

.project-filters {
  padding: rem-calc(4) 0 0;
  background-color: rgba(107,113,123,.06);
  margin-bottom: $global-margin;
  font-size: rem-calc(12);

  .filter {
    @include clearfix;
    padding: 0.25rem 0;
    border-bottom: 1px solid rgba(107,113,123,.1);
  }

  .filter-name {
    color: $dark-gray;
    margin-bottom: 0;
    padding: 0.4rem 0.7rem;
    float: left;
    width: 15em;
  }

  .filter:not(.active) {
    display: none;
  }

  &.show-all .filter {
    display: block;
  }

  .menu a {
    padding: 0.4rem;
  }

  .button.gray {
    text-transform: uppercase;
    outline: none;
  }
}
