// --------------------------------------------------
// Module: Project summary card
// --------------------------------------------------

.project-summary-card {
  font-size: rem-calc(13);

  .project-summary-card--description {

    @include breakpoint(large) {
      padding-right: rem-calc(15);

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  .project-summary-card--timer {

    @include breakpoint(medium) {
      padding-right: rem-calc(15);
    }

    @include breakpoint(large) {
      padding-right: rem-calc(15);
      padding-left: rem-calc(15);
    }
  }

  .project-summary-card--cta {

    @include breakpoint(medium) {
      padding-left: rem-calc(15);

      .cell {
        &:not(:first-child) {
          padding-left: rem-calc(15);
        }
        &:not(:last-child) {
          padding-right: rem-calc(15);
        }
      }
    }
  }

  .project-summary-card--milestones {

    @include breakpoint(medium) {
      padding-left: rem-calc(15);
    }
  }

  .column-header {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: $hr-border;
  }

  .applicant {
    margin-bottom: rem-calc(10);
  }
}

// LUP coundown
.lup-countdown {
  text-align: center;

  .cert-date {
    font-size: rem-calc(10);
  }

  .days {
    font-size: rem-calc(40);
    font-weight: $global-weight-bold;
    line-height: 1;
    margin: 0;
  }

  .total {
    font-weight: $global-weight-bold;
  }

  .end-date {
    font-size: rem-calc(10);
  }
}

// LUP timeline
.lup-timeline {
  font-size: rem-calc(13);
}

.current-milestone-alert {
  background: $off-white;
  padding: rem-calc(6) rem-calc(10);
  margin: 0;
  border: $hr-border;
}

.notifications-switch {
  font-size: rem-calc(6);
  padding: rem-calc(6) 0;

  .switch {
    float: left;
    margin-right: rem-calc(6);
  }
}
