// --------------------------------------------------
// Module: Reveal Modal
// --------------------------------------------------

#reveal-modal-container {
  z-index: 3;
}

.reveal-overlay {
  padding: 1rem;

  @include breakpoint(medium) {
    padding: 4rem 1rem;
    // position: absolute;
  }
}

.reveal {
  border: 0;
  box-shadow: 0 0 0 rem-calc(4) rgba(0,0,0,0.1);
  top: 0;

  &:focus {
    outline: none;
  }
}
