// --------------------------------------------------
// Module: Share Controls
// --------------------------------------------------

.share-controls {
  position: relative;
  float: right;
  z-index: 2;
  overflow: visible;
  padding: rem-calc(10);
}

.share-button.button {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border-radius: 50%;
  outline: 0;
}

.share-controls-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 23rem;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 13em);
  padding: rem-calc(10);
  background-color: $white;
  border-radius: 4px;
  overflow: scroll;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);

  @include breakpoint(medium) {
    max-width: 50vw;
  }

  &,
  .input-group-field,
  .input-group-button button {
    font-size: rem-calc(12);
  }

  .header {
    margin-bottom: rem-calc(10);
  }

  .close-button {
    right: 0.75rem;
    top: 0.25rem;
    outline: 0;
  }
}

.share-controls-copy-success {
  position: relative;
  height: 0;
  overflow: visible;
  margin: -$global-margin $global-margin $global-margin;
}

.share-controls-copy-success-message {
  background-color: $success-color;
  color: $white;
  padding: rem-calc(6) rem-calc(10);
  text-align: center;
  font-style: italic;
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  opacity: 0;
  animation: successfade 2s;
  transform: translateY(-50%);
  display: inline-block;
}

@keyframes successfade {
    0%   {opacity:0;}
    10%  {opacity:1;}
    75%  {opacity:1;}
    100% {opacity:0;}
}
