{{!-- <script type="text/x-handlebars" id="components/custom-accordion"> --}}
{{yield}}
<ul custom-accordion id="dfjsdkl" class="accordion" data-accordion data-multi-expand="true">
    {{!-- <ul custom-accordion> --}}
            <li class="accordion-item is-active" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Accordion 1</a>
        
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    dfdsfds
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Accordion 2</a>
        
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <p>Panel 1. Lorem ipsum dolor</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            </li>
        </ul>

        <button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
  Example form in a dropdown.
  <form>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
          <label>Name
            <input type="text" placeholder="Kirk, James T.">
          </label>
        </div>
        <div class="cell medium-6">
          <label>Rank
            <input type="text" placeholder="Captain">
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

{{!-- </script> --}}

