{{#if open}}
  <div class="reveal-overlay" style="display:block; background-color: rgba(241, 242, 244, 0.45)">
    <div class="reveal-overlay-target" {{action closeModal}}></div>
    <div
      class="reveal info-modal"
      role="dialog"
      aria-hidden="false"
      tabindex="-1"
      style="display:block;"
      data-test-info-modal
    >
      <h1>New CEQR Filter Option</h1>

      <p class="info-model-content">Search for projects by documents related to City Environmental Quality Review, including by Environmental Assessments Statements (EAS), Environmental Impact Statements (EIS), and Technical Memorandum.</p>

      {{input type="checkbox" checked=this.dontShowModalAgain}}
      Don't show this message again
      <button {{action closeModal}} class="close-button" aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
{{/if}}
