<p class="text-center" style="margin:3rem 0 6rem;">
  <span
    class="button projects-load-more-button gray"
    onClick={{unless noMoreRecords (queue (action (mut page) (add page 1)) (perform task))}}
    disabled={{or noMoreRecords task.isRunning}}
  >
    {{#if task.isRunning}}
      {{fa-icon icon='spinner' class="fa-spin" transform='grow-8'}}
    {{else}}
      LOAD MORE
    {{/if}}
  </span>
</p>
