{{#if legend}}
  <ul class="map-legend no-bullet">
    <li>
      <span class="fa-layers fa-fw">
        <FaIcon @icon='circle' class="white" @transform="shrink-2" />
        <FaIcon @icon='circle' class="stage-noticed" @transform="shrink-6" />
      </span>Noticed
    </li>
    <li>
      <span class="fa-layers fa-fw">
        <FaIcon @icon='circle' class="white" @transform="shrink-2" />
        <FaIcon @icon='circle' class="stage-filed" @transform="shrink-6" />
      </span>Filed
    </li>
    <li>
      <span class="fa-layers fa-fw">
        <FaIcon @icon='circle' class="white" @transform="shrink-2" />
        <FaIcon @icon='circle' class="stage-in-public-review" @transform="shrink-6" />
      </span>In Public Review
    </li>
    <li>
      <span class="fa-layers fa-fw">
        <FaIcon @icon='circle' class="white" @transform="shrink-2" />
        <FaIcon @icon='circle' class="stage-completed" @transform="shrink-6" />
      </span>Completed
    </li>
  </ul>
{{/if}}

{{#if disclaimer}}
  <LinkTo @route="disclaimer" class="button expanded tiny gray map-disclaimer-link">Disclaimer</LinkTo>
{{/if}}

{{yield}}
