<form>
    <div class="input-group">
  <span class="input-group-label">Email Address</span>
  <input class="input-group-field" type="text">
</div>

                    {{!-- email address
                    updates for:
                        - citywide
                        - community district

                    community districts:
                        - Brooklyn
                        - Bronx
                        - Manhattan
                        - Queens
                        - Staten Island
                    
                    Subscribe --}}

</form>