<div class="cell zap-alerts-contact">
    <h5>Contact</h5>
    <p class="text-small">Have Suggestions for ZAP Alerts? Contact us at <a href="mailto:tech@planning.nyc.gov?subject=ZAP Alerts">tech@planning.nyc.gov</a>.</p>
</div>
