<h5>Archive of projects that you have reviewed which are no longer in the public review process</h5>

{{#each this.model as |assignment|}}
  <ArchiveProjectCard @project={{assignment.project}} />
{{/each}}

{{outlet}}
