<h4>
  Archive:
  <span class="text-weight-normal">Projects that you have reviewed which are no longer in the public review process</span>
</h4>

{{#if this.model}}
  {{#each sortedAssignments as |assignment|}}
    <ArchiveProjectCard @assignment={{assignment}} />
  {{/each}}
{{else}}
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
      <div class="cell large-10 large-offset-1 xlarge-8 xlarge-offset-2  text-center">
        <h2 class="charcoal">You currently have no archived&nbsp;projects.</h2>
        <p class="lead">If something has gone wrong, or you believe projects are missing from this&nbsp;list, please contact City Planning at <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or 212-720-3300.</p>
      </div>
    </div>
  </div>
{{/if}}

{{outlet}}


 ZAP_feedback_DL@planning.nyc.gov or 212-720-3300
