<h5>Projects that you have reviewed which are still in the public review process</h5>

{{#each this.model as |assignment|}}
  <ReviewedProjectCard @project={{assignment.project}} />
{{/each}}

{{outlet}}
