<h5>Projects that you have reviewed which are still in the public review process</h5>

<div class="project-summary-card callout">
  <div class="grid-x">
    <div class="cell large-6">
      <h3 class="tiny-margin-bottom">
        <a>101 Fleet Place Rezoning</a>
        <small class="dark-gray">ULURP</small>
      </h3>
      <h5 class="applicant">Fleet Center, Inc.</h5>
      <p class="no-margin">This is a private application by Fleet Center, Inc. for a zoning map amendment from R6 to C6-4 and zoning text amendment to expand the Special Downtown Brooklyn district and create a new MIH area to facilitate a new 205,000 square foot commercial office building at 101 Fleet Place in the Downtown Brooklyn area of Brooklyn Community District 2.</p>
    </div>
    <div class="cell large-6">

      <div class="grid-x">
        <div class="cell large-auto">
          <h5 class="column-header">My Hearing</h5>
          <p>
            <strong>Held 5/11/19</strong>
            <small>PS85Q, 23-70 31st St</small>
          </p>
        </div>
        <div class="cell large-auto">
          <h5 class="column-header">My Recommendation</h5>
          <p class="tiny-margin-bottom">
            <strong>Submitted 6/11/19</strong>
          </p>
          <p class="label-group text-tiny">
            <strong>Approved with modfifications:</strong>
            <span class="label light-gray">N190198ZAR</span>
            <span class="label light-gray">N190199ZCR</span>
          </p>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell large-auto">
          <p class="current-milestone-alert">
            <strong>Current Milestone:</strong>
            Borough President Review
            <small>Ends 12/15/19</small>
          </p>
        </div>
        <div class="cell large-shrink">
          <div class="notifications-switch">
            <span class="switch tiny">
              <input class="switch-input" type="checkbox" checked name="exampleSwitch">
              <label class="switch-paddle" for="exampleSwitch">
                <span class="show-for-sr">Toggle Notifications</span>
              </label>
            </span>
            Notifications
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{outlet}}
