<h5>Projects that require you to submit your hearing dates and recommendations</h5>

{{outlet}}

<div class="callout">
  <div class="grid-x grid-margin-x align-middle">
    <div class="cell large-6">
      <h3 class="tiny-margin-bottom"><a>101 Fleet Place Rezoning</a></h3>
      <p class="small-margin-bottom"><strong>Fleet Center, Inc.</strong></p>
      <p class="text-small no-margin">This is a private application by Fleet Center, Inc. for a zoning map amendment from R6 to C6-4 and zoning text amendment to expand the Special Downtown Brooklyn district and create a new MIH area to facilitate a new 205,000 square foot commercial office building at 101 Fleet Place in the Downtown Brooklyn area of Brooklyn Community District 2.</p>
    </div>
    <div class="cell large-2 text-center">
      <div class="text-tiny">Certified on 11/1/2018</div>
      <div class="stat text-weight-bold">8</div>
      <div class="text-small text-weight-bold">of 60 days remain</div>
      <div class="text-tiny">(ends 12/15/19)</div>
    </div>
    <div class="cell large-2">
      <a class="button expanded no-margin">Add Your <span class="nowrap">Hearing Date</span></a>
    </div>
    <div class="cell large-2">
      <a class="button expanded no-margin">Submit Your Recommendation</a>
    </div>
  </div>
</div>
