<h4>
  To Review:
  <span class="text-weight-normal">Projects subject to ULURP and/or referred out for your review</span>
</h4>

{{#if this.model}}
  {{#each sortedProjects as |assignment|}}
    {{to-review-project-card assignment=assignment}}
  {{/each}}
{{else}}
  <div class="grid-x grid-padding-x grid-padding-y align-bottom" style="min-height: 20vh">
    <div class="cell large-10 large-offset-1 xlarge-8 xlarge-offset-2  text-center">
      <h2 class="charcoal">You currently have no projects to&nbsp;review.</h2>
    </div>
  </div>
{{/if}}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell large-10 large-offset-1 xlarge-8 xlarge-offset-2  text-center">
    <p class="">If something has gone wrong, or you believe projects are missing from this&nbsp;list, please contact City Planning at <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or 212-720-3300.</p>
  </div>
</div>

{{outlet}}
