<h4>
  Upcoming:
  <span class="text-weight-normal">Projects that will be subject to ULURP and/or referred out for your review</span>
</h4>

{{#each sortedProjects as |assignment|}}
  {{upcoming-project-card assignment=assignment}}
{{/each}}

{{outlet}}
