<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-5">

        <h1 class="header-large">General Disclaimer</h1>
        <div class="callout">
          <p>ZAP Search was developed by the City of New York using data in part provided by third-party applicants. The City disclaims any liability for errors in the data obtained through ZAP Search and shall not be responsible for any damages consequential or actual, arising out of or in connection with the use of this information. The City makes no warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose as to the quality, content, accuracy, or completeness of the information, text graphics, links and other items contained herein.</p>
        </div>

      </div>
      <div class="cell large-7">

        <h2 class="header-large">Project Geometries Disclaimer</h2>
        <div class="callout">
          <p class="lead">Project geometries are a "best-effort" at each project's time of publication. If you spot an error, please report it using the feedback form on the particular project's page.</p>

          <p>ZAP Search's underlying database, ZAP, does not include geometries. Projects in ZAP only contain addresses and BBLs. ZAP Search appends geometries to each project by joining BBLs with data from the latest version of <a href="https://www1.nyc.gov/site/planning/data-maps/open-data.page#pluto"><strong>MapPLUTO</strong>&nbsp;<FaIcon @icon="external-link-alt" /></a>. Center points are created by taking a centroid of lot geometries returned by MapPLUTO.</p>

          <div class="grid-x align-middle">
            <div class="cell medium-3 feature-image-cell">
              <img src="/img/feature-centroids.png" class="feature-image">
            </div>
            <div class="cell medium-9">
              <h4 class="header-medium no-margin">Project Centroids</h4>
              <p>A centroid may not accurately represent transfer projects or projects with non-compact layouts.</p>
            </div>
          </div>

          <div class="grid-x align-middle">
            <div class="cell medium-3 feature-image-cell">
              <img src="/img/feature-bbls.png" class="feature-image">
            </div>
            <div class="cell medium-9">
              <h4 class="header-medium no-margin">Project BBLs</h4>
              <p>BBLs listed for a project may have changed or gone away entirely, so the associated lot geometries could be inaccurate or missing.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{outlet}}
