<div class="cell">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-middle" style="justify-content: center;">
            <div class="cell large-8">
                
                <h1 class="header-xxl dcp-orange">Subscribe to ZAP Updates</h1>
                <span class="text-small">Get updated on milestones for all projects in any community district (CD) by signing up to receive
                    emails on Zoning Application Portal.</span>

                    {{subscription-form}}
               
                <h5>Cancel Your Subscription</h5>
                <span class="text-small">You can unsubscribe to ZAP emails at the end of any email updates you receive.</span>

                <h5>Definition of ZAP Updates</h5>
                <span class="text-small">Refer to <a href="/statuses">this page</a> for more information about what type of updates you will
                    be receiving.</span>

                <h5>Privacy Policy</h5>
                <span class="text-small">For more information, refer to NYC.gov Privacy Policy and Terms of Use.</span>
            </div>
        </div>
    </div>
</div>

{{outlet}}