<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
      <div class="cell large-6 large-offset-3 text-center">
        <h2>Page Not Found</h2>

        <p>Try checking the URL for errors or {{link-to "return to the homepage" "show-geography"}}.</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
