<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
      <div class="cell large-6 large-offset-3 text-center">
        <h2>Oops!</h2>

        <p>Something went wrong with search.</p>

        <p>We've been notified, but you can still <a href="https://twitter.com/nycplanninglabs">let us know on Twitter</a> or {{link-to "try again" "show-geography"}}.</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
