<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">
        <div class="grid-x">
          <div class="cell auto">
            <ContentPlaceholders as |placeholder|>
              {{placeholder.heading}}
              {{placeholder.heading}}
              <placeholder.text @lines={{6}} />
            </ContentPlaceholders>
            <hr>
            <div class="grid-x grid-padding-x">
              <div class="cell medium-6">
                <ContentPlaceholders as |placeholder|>
                  <placeholder.text @lines={{10}} />
                </ContentPlaceholders>
              </div>
              <div class="cell medium-6">
                <ContentPlaceholders as |placeholder|>
                  <placeholder.text @lines={{10}} />
                </ContentPlaceholders>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell large-5">
        <ContentPlaceholders as |placeholder|>
          {{placeholder.img}}
        </ContentPlaceholders>
      </div>
    </div>
  </div>
</div>
