<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="justify-content: center;">
      <div class="cell large-8" style="padding-top: 4rem">
          <h1 class="header-xxl dcp-orange">Definition of ZAP Updates</h1>
          <p>Below outlines four major statuses for a Zoning Application milestone:</p>
          <ol class="status-options">
            <li class="numbered-option">
              <h4>Filed</h4>
              <p>A Land Use or Environmental Review Application has been submitted to NYC Planning. The applicant(s) paid a fee requirement.</p>
            </li>
            <li class="numbered-option">
              <h4>Noticed</h4>
              <p>Land Use Participants (Community Boards, Borough Presidents, and Borough Boards) have been notified that a project could possibly certify in at least 30-days per City Charter ULURP requirements (197-c(c)).</p>
            </li>
            <li class="numbered-option">
              <h4>In Public Review</h4>
              <p>Applications are now in public review.</p>
            </li>
            <li class="numbered-option">
              <h4>Completed</h4>
              <p>An application has reached one of the following:</p>
              <ul>
                <li>Approved</li>
                <li>Disapproved</li>
                <li>Withdrawn</li>
                <li>Terminated</li>
              </ul>
            </li>
          </ol>
          <p>When you sign up for Zoning Application Portal updates, you will only be notified when a project's public status is changed to "<b>Filed</b>" or "<b>In Public Review</b>"</p>
          <p class="status-updates">To sign up for Zoning Application Portal updates, please visit <LinkTo @route="subscribe">here</LinkTo>.</p>
          <ZapAlertsContact />
      </div>
    </div>
  </div>
</div>

{{outlet}}
