<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="justify-content: center;">
      <div class="cell large-8" style="padding-top: 4rem">
          <h1 class="header-xxl dcp-orange">Definition of ZAP Updates</h1>
          <p>Below outlines 4 major status for a Zoning Application milestone:</p>
          <ol class="status-options">
            <li class="numbered-option">
              <h4>Filed</h4>
              <p>A Land Use or Environmental Review Application has been submitted to DCP. The minimum fees have been paid.</p>
            </li>
            <li class="numbered-option">
              <h4>Noticed</h4>
              <p>An application is notified that it will be certified within 30 days per City Charter requirements.</p>
            </li>
            <li class="numbered-option">
              <h4>In Public Review</h4>
              <p>Applications are now in public review.</p>
            </li>
            <li class="numbered-option">
              <h4>Completed</h4>
              <p>An application has reached one of the following:</p>
              <ul>
                <li>Approved</li>
                <li>Disapproved</li>
                <li>Withdrawn</li>
                <li>Terminated</li>
              </ul>
            </li>
          </ol>
          <p>When you sign up for ZAP updates, you will only be notified when a project's public status is changed to "<b>Filed</b>" or "<b>In public review</b>"</p>
          <p class="status-updates">To sign up for ZAP updates, please visit <LinkTo @route="subscribe">here</LinkTo>.</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
