<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle align-center subscribed">
      <div class="cell large-8 padding-top-4">
          <h1 class="header-xxl dcp-orange">Confirm Your ZAP Updates</h1>
          <p>&nbsp;</p>
          <span>{{fa-icon icon='check-circle' prefix='far' size='2x'}}</span>
          <p class="lg"><span>Check email</span> to confirm your ZAP subscription.</p>
          <p>You will receive an email to confirm your Community Districts subscriptions. Additionally, the email contains details on how to modify your updates.</p>
          <p>&nbsp;</p>
          <LinkTo @route="show-geography" class="button">Go to Home</LinkTo>
      </div>
    </div>
  </div>
</div>

{{outlet}}

