<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle" style="justify-content: center;">
      <div class="cell large-8" style="padding-top: 4rem">
          <h1 class="header-xxl dcp-orange">Confirm Your ZAP Updates</h1>
          <p>&nbsp;</p>
          <span style="color:#008e50;">{{fa-icon icon='check-circle' prefix='far' size='2x'}}</span>
          <p style="font-size: 1.25rem;"><span style="color:#008e50;">Check email</span> to confirm your ZAP subscription.</p>
          <p>You will receive an email to confirm your CDs/Citywide subscriptions. Additionally, the email contains details on how to modify your updates.</p>
          <p>&nbsp;</p>
          <LinkTo @route="show-geography" class="button" style="font-size: 1.25rem; border-radius: 12px;">Go to Home</LinkTo>
      </div>
    </div>
  </div>
</div>

{{outlet}}

