@charset 'UTF-8';

@import 'util/util';
@import 'nyc-planning-variables';

// app-specific overrides
$tab-margin: 0;
$tab-background: transparent;
$tab-color: $primary-color;
$tab-background-active: transparent;
$tab-active-color: $primary-color;
$tab-item-font-size: rem-calc(12);
$tab-item-background-hover: $white;
$tab-item-padding: 0.75rem 1.25rem;
$tab-expand-max: 6;
$tab-content-background: transparent;
$tab-content-border: $silver;
$tab-content-color: inherit;
$tab-content-padding: 1rem 0 0;
$fieldset-border: $callout-border;

@import 'foundation';
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-badge;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-label;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;


//
// Custom app modules and styles
// --------------------------------------------------
$noticed-color: #d6d426;
$filed-color: #78D271;
$in-public-review-color: #0979C3;
$completed-color: #a6cee3;

@import 'base/_typography';
@import 'layouts/_l-default';
@import 'modules/_m-actions-milestones';
@import 'modules/_m-auth';
@import 'modules/_m-categorical-colors';
@import 'modules/_m-color';
@import 'modules/_m-forms';
@import 'modules/_m-map-info-box';
@import 'modules/_m-maps';
@import 'modules/_m-modal-controls';
@import 'modules/_m-noui';
@import 'modules/_m-project-filters';
@import 'modules/_m-reveal-modal';
@import 'modules/_m-search';
@import 'modules/_m-site-header';
@import 'modules/_m-statuses';
@import 'modules/_m-tabs';
@import 'modules/_m-project-summary-cards';
@import 'modules/_m-tooltipster';

// Media query for project tags in templates/show-project.hbs
@import 'modules/_m-status_tags_styles';


// Addons
@import "ember-power-select";
@import "ember-content-placeholders";

