// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Buttons
// --------------------------------------------------
.projects-load-more-button {
  width: 15em;
}

.button.multiline {
  line-height: 1.2;
}


//
// Labels
// --------------------------------------------------
.label {
  font-size: inherit;
  border-radius: rem-calc(3);

  .label-group & {
    margin: 0 0.25em 0.25em 0;
  }

  &.light-gray {
    background-color: $white-smoke;
    color: $dark-gray;
  }

  &.dark-gray {
    background-color: $dark-gray;
    color: $white;
  }
}


//
// Features
// --------------------------------------------------
.feature-image-cell {

  @include breakpoint(medium) {
    padding-right: 1rem;
  }
}

.feature-image {
  max-width: 60%;
  margin: 0 auto $global-margin;

  @include breakpoint(medium) {
    max-width: 100%;
  }
}
