<h4>
  Archive:
  <span class="text-weight-normal">Projects that you have reviewed which are no longer in the public review process</span>
</h4>

<div class="text-center large-margin-top large-padding-top" style="padding:3rem 0;">
  <FaIcon @icon="spinner" @spin="true" @size="5x" class="light-gray" />
</div>

{{outlet}}
