<h4>
  To Review:
  <span class="text-weight-normal">Projects subject to ULURP and/or referred out for your review</span>
</h4>

<div class="text-center large-margin-top large-padding-top" style="padding:3rem 0;">
  {{fa-icon icon='spinner' spin="true" size="5x" class="light-gray"}}
</div>

{{outlet}}
