<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-4 large-order-2">

        <p class="text-small callout"><em>NYC Zoning Application Search was developed by the City of New York using NYC open data and other public data sources and is provided solely for informational purposes. The City makes no representation as to the accuracy of the information or to its suitability for any purpose. The City disclaims any liability for errors that may be contained herein and shall not be responsible for any damages consequential or actual, arising out of or in connection with the use of this information. The City makes no warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose as to the quality, content, accuracy, or completeness of the information, text graphics, links and other items contained herein.</em></p>

      </div>
      <div class="cell large-8 large-order-1">

        <h1 class="header-xlarge">The NYC Zoning Application Search allows you to lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt.</h1>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2 class="header-large">Mapped Applications Centroids</h2>
        <div class="grid-x">
          <div class="cell medium-3 feature-image-cell">
            <img src="/img/feature-centroids.png" class="feature-image">
          </div>
          <div class="cell medium-9">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <h2 class="header-large">Mapped Application BBLs</h2>
        <div class="grid-x">
          <div class="cell medium-3 feature-image-cell">
            <img src="/img/feature-bbls.png" class="feature-image">
          </div>
          <div class="cell medium-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{outlet}}
