<Auth::DoLogout/>

<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle min-height-50-vh">
      <div class="cell large-6 large-offset-3 text-center">
        <h2>You have successfully signed out.</h2>
      </div>
    </div>
  </div>
</div>

{{outlet}}
