<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle min-height-50-vh">
      <div class="cell large-6 large-offset-3 text-center">
        <h2>Page Not Found</h2>

        <p>
        	Try checking the URL for errors or <LinkTo @route="show-geography">return to the homepage</LinkTo>.
        </p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
